#greetings-section{
    border: 1px solid red;
}

.button-switch{
    width: fit-content;
    padding: 6px 12px;
    border-radius: 50px;
    border: none;
    background-color: #309FFF;
    color: #F7F7FF;
    font-weight: bold;
    text-decoration: none;
}

.button-switch:hover{
    cursor: pointer;
    background-color: #5CB3FF;
}

.work-request{
    background-color: #ffffff;
    border-radius: 35px;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
}

.detail-req-button{
    padding: 6px 12px;
    border-radius: 50px;
    border: none;
    background-color: #309FFF;
    color: #F7F7FF;
    font-weight: bold;
    text-decoration: none;
}

.detail-req-button:hover{
    background-color: #5CB3FF;
}

.status{
    padding: 6px 12px;
    border-radius: 50px;
    border: none;
    background-color: #133E87;
    color: #F7F7FF;
    font-weight: bold;
}
