body{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

.navbar{
    padding: 0.75vw 0vw;
    font-weight: 500;
    border-bottom: 2px solid #294287;
}

.pembatas {
    padding: 0 7.5vw;
}

#navbarCollapse{
    gap: 0 5vw;
}

#logoNavbar {
    width: 120px;
    margin-right: 8vw;
}

#dropLang .dropdown-menu{
    min-width: 0;
}

#dropProfile .dropdown-menu {
    min-width: 100%;
}

.nav-link, .navbar-nav .nav-item .dropdown-menu .dropdown-item{
    color: #000000;
    font-size: 1.1rem;
}

.nav-link:hover {
    color: #294287;
}

.active {
    color: #294287 !important;
    text-decoration: underline 2px;
    text-underline-offset: 0.6vw;
    font-weight: bold;
}

.flag, .navIcon {
    width: 25px;
    height: auto;
    margin-right: 8px;
}

.flag{
    margin-left: 2px;
}

#dropProfile .dropdown-menu li a img{
    filter: brightness(0) saturate(100%);
}

#dropProfile .dropdown-menu{
    min-width: 100%;
}

#dropProfile a{
    padding-right: 0;
}

.navbar-nav .nav-item .dropdown-menu{
    padding: 0;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item{
    padding: 10px;
    margin-right: 11px;
}

#langIcon {
    transition: transform 0.3s ease;
}
.rotate-up {
    transform: rotate(180deg);
}

#dropdownLang,
#dropdownProfile {
    display: flex;
    align-items: center;
    gap: 8px;
}

#dropdownLang{
    margin-right: 8vw;
}

#langFlag {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

#profileIcon{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

#dropdownLang span,
#dropdownProfile span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item:hover{
    background-color: #D3FA0D;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item:active{
    color: #000000;
}

@media (max-width: 1310px) {
    .navbar{
        padding: 2vw 0;
    }

    .pembatas{
        padding: 0 2vw;
    }
}

@media (max-width: 1130px) {
    #logoNavbar, #dropdownLang{
        margin-right: 5vw;
    }
}

@media (max-width: 992px) {
    #profileIcon,
    #langFlag {
        width: 25px;
        height: auto;
    }

    #dropdownLang,
    #dropdownProfile {
        display: flex;
        align-items: center;
        gap: 8px; /* Biar spasi antar ikon dan teks konsisten */
    }

    #dropdownLang span,
    #dropdownProfile span {
        line-height: 1;
    }

    #dropProfile .dropdown-menu{
        margin-bottom: 10px;
    }
}
