// Typography
$font-family-base: 'Inter', sans-serif;
$headings-font-family: 'Manrope', sans-serif; 
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #294287;        
$secondary: #309FFF;      
$success: #D3FA0D;
$danger: #B02A37;
$light: #FFFFFF;
$dark: #000000;

$body-bg: #F7F7FF;    
$body-color: #000000;
$body-secondary-color: #8A8A8A;  

$custom-colors: (
  "chat-gray": #E0E0E0,
  "stroke-gray": #CACADD,
  "dark-gray": #9D9D9D,
);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$theme-colors: map-merge($theme-colors, $custom-colors);