.btn-daftar {
  background-color: #309FFF;
  color: white;
  font-family: 'Manrope', sans-serif;
  border-radius: 0.5rem;
  padding: 8px 10px;
  margin-right: 30px;
  transition: 0.3s;
  text-decoration: none;
}

.btn-daftar:hover {
  background-color: #D3FA0D;
  color: black;
}

.btn-pekerja {
  background-color: #D3FA0D;
  color: black;
  font-family: 'Manrope', sans-serif;
  border-radius: 0.5rem;
  padding: 8px 10px;
  transition: 0.3s;
  text-decoration: none;
}

.btn-pekerja:hover {
  background-color: #309FFF;
  color: white;
}

.garis-tengah {
  width: 150px; /* Panjang garis */
  height: 4px; /* Tebal garis */
  background-color: white; /* Warna garis */
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 2px;
}

/* Style untuk dots */
.color-dots {
  height: 100%;
}

.dot {
  position: absolute;
  border-radius: 50%;
  animation: float 3s ease-in-out infinite;
  opacity: 0.80;
}

.dot-1 {
  width: 775px;
  height: 775px;
  background-color: #309FFF;
  bottom: 15%;
  left: 10%;
  margin-left: -50%;
  opacity: 0.60;
}

.dot-2 {
  width: 190px;
  height: 190px;
  background-color: #4D00FF;
  bottom: 60%;
  right: 120%;
  animation-delay: 0.5s;
  opacity: 0.70;
}

.dot-3 {
  width: 500px;
  height: 500px;
  background-color: #D3FA0D;
  top: 40%;
  left: 50%;
  animation-delay: 1.5s;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
